<% layout("/layouts/boilerplate.ejs") %>
<main class="container my-5 py-5">
    
    <div class="row justify-content-center">
        
        <div class="col-lg-6 col-md-7">
            
            <div class="card p-4 shadow-lg border-0">
                
                <div class="card-header text-center bg-primary text-white rounded-top-3 p-3">
                    <h1 class="h3 mb-0 fw-bold">Agent Log In</h1>
                </div>
                
                <div class="card-body">
                    
                    <form action="/owner/agentlogin" method="post" novalidate class="needs-validation">
                        
                        <div class="mb-4">
                            <label for="usernameInput" class="form-label fw-bold text-black">Enter Username</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-circle-user text-black"></i></span>
                                <input type="text" class="form-control" id="usernameInput"
                                    placeholder="username" name="username" required>
                            </div>
                            <div id="usernameHelpBlock" class="form-text text-black small">
                                Your username is not required to be a Gmail address; it is different from your email ID.
                            </div>
                            <div class="invalid-feedback">
                                Please Enter Your Username
                            </div>
                        </div>
                        
                        <div class="mb-4">
                            <label for="passwordInput" class="form-label fw-bold text-black">Enter Password</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-key text-black"></i></span>
                                <input type="password" class="form-control" id="passwordInput" name="password" required>
                            </div>
                            <div id="passwordHelpBlock" class="form-text text-black small">
                                Must be 8-20 characters long, contain letters, numbers, @, and must not contain spaces or special characters.
                            </div>
                            <div class="invalid-feedback">
                                Please Enter Your Password
                            </div>
                        </div>
                        
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" name="login" class="btn btn-success btn-lg">
                                <i class="bi bi-box-arrow-in-right me-2"></i> Log In
                            </button>
                        </div>
                        
                    </form>
                    
                </div>
            </div>
            
        </div>
    </div>
</main>