<footer>
    <div class="maincontener">
        <div class="footerbox1">
            <p class="logofoot">Vinayak Cyber Zone </p>
            <p class="logo2foot">& Travels</p>
            <button>CALL US</button> <br>
            <a href="#">MAP DIRECTION</a>
        </div>
        <div class="footerbox2">
            <h1>Contact</h1>
            <p>Gmail : kjaiswal207@gmail.com</p>
            <p>Phone : 99732-17594</p>
            <p>Nandlalpur, Kahalgaon Bhagalpur, BIHAR 813222</p>
        </div>
        <div class="footerbox3">
            <h1>Service</h1>
            <p>BIHAR GOVERMENT</p>
            <p>TRAVELS</p>
            <p>TRANNING</p>
            <p>ADDIMOSION</p>
        </div>
        <div class="footerbox4">
            <h1>Follow Us</h1>
            <p>Instagram</p>
            <p>Facebook</p>
            <p>LinkedIn</p>
            <p>X</p>
        </div>
    </div>
    <br><hr style="color: black;">
    
    <div class="lastfootsection">
        <div class="onefootbox">
            <div class="onesubfootbox">
                <p>Privacy Policy</p>
                <p>Terms & Conditions</p>
                <p>Accessibility Statement</p>
            </div>
            <div class="twosubfootbox">
                <p>© 2025 build by Sumit Kumar, Rock Company</p>
            </div>
        </div>
    </div>
</footer>