<header>
    <div class="mainnav">
        <div class="logo-container">
            <p class="logo">Vinayak Cyber Zone </p>
            <p class="logo2">& Travels</p>
        </div>
        <div class="navelement">
            <a href="/">INDEX</a>
            <a href="/user/userhome">HOME</a>
            <a href="">LATEST FORM</a>
            <a href="/shopstock/user/listing">SHOP STOCK</a>
            <a href="">NOTICE</a>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle agentbuttonprofile" data-bs-toggle="dropdown"
                aria-expanded="false">
                Your Profile
            </button>
            <ul class="dropdown-menu bg-warning text-center" id="Listidtemdropofuser">
                <li><a class="dropdown-item" href="/user/viewProfile">VIEW PROFILE</a></li>
                <li><a class="dropdown-item" href="#">WALLET</a></li>
                <li><a class="dropdown-item" href="/user/signup">NEW CUSTOMER</a></li>
                <li><a class="dropdown-item" href="/owner/agentloginpage">AGENT LOGIN</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/user/logout">Log Out</a></li>
            </ul>
        </div>
    </div>
</header>