<header>
    <div class="mainnav">
        <div class="logo-container">
            <p class="logo">Vinayak Cyber Zone </p>
            <p class="logo2">& Travels</p>
        </div>
        <div class="navelement">
            <a href="">REQUEST</a>
            <a href="">TICKET</a>
            <a href="">LATEST FORM</a>
            <a href="">SHOP STOCK</a>
            <a href="">NOTICE</a>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle agentbuttonprofile" data-bs-toggle="dropdown"
                aria-expanded="false">
                Your Profile
            </button>
            <ul class="dropdown-menu bg-info text-center">
                <li><a class="dropdown-item" href="#">View Profile</a></li>
                <li><a class="dropdown-item" href="#">Wallet</a></li>
                <li><a class="dropdown-item" href="#">Task Adder</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/owner/logout">Log Out</a></li>
            </ul>
        </div>
    </div>
</header>