
    <header>
        <div class="mainnav">
            <div class="logo-container">
                <p class="logo">Vinayak Cyber Zone </p>
                <p class="logo2">& Travels</p>
            </div>
            <div class="navelement">
                <a href="/">INDEX</a>
                <a href="/user/userhome">HOME</a>
                <a href="/user/signup">NEW CUSTOMER</a>
                <a href="">CAREERS</a>
                <a href="/user/loginpage">USER LOGIN</a>
            </div>
            <div class="agentbuttmain">
                <a href="/owner/agentloginpage">
                <button>
                    AGENT LOGIN
                </button>
                </a>
            </div>
        </div>
    </header>
