<% layout("/layouts/boilerplateUser.ejs") %>

    <main>
        <hr>
        <div class="navArea">
            <form action="" method="get">
                <button class="btn btn-warning me-3 mt-3" >Go Back !</button>
            </form>
        </div>
        <div id="forshowcenterthis">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 mt-3" id="rowalignbyid">
            <% for (listing of allListings) { %>
                <a href="/shopstock/user/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col listing-card show-cradsforcategree" id="rowalignimage">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                            style="height: 20rem;">
                        <div class="card-body">
                            <p class="card-text">
                                <b>Name : <%= listing.title %></b><br>
                                Price : ₹ <%= listing.price %>
                            </p>
                        </div>
                        </p>
                    </div>
                </a>
                <% } %>
        </div>
        </div>
    </main>