<% layout("/layouts/boilerplate.ejs") %>


<div class="container py-3">
    <div class="row justify-content-center">
        
        <div class="col-lg-7 col-md-9">
            
            <div class="alert alert-danger shadow-sm border-0" role="alert">
                <h4 class="alert-heading fw-bold">
                    <i class="bi bi-x-octagon-fill me-2"></i> Error:
                </h4>
                <p class="mb-0 text-black">
                    <%= message %>
                </p>
            </div>
            
        </div>
    </div>
</div>