<% layout("/layouts/boilerplateUser.ejs") %>

 <main class="py-3">

  <!-- Top Nav / Back Button -->
  <div class="container mb-3">
    <div class="d-flex justify-content-start">
      <form action="/user/userhome" method="get" class="m-0">
        <button class="btn btn-warning" id="">Go Back !</button>
      </form>
    </div>
  </div>

  <!-- Tools Section -->
  <section id="ForshowtheToosl">
    <div class="container">

      <!-- Heading -->
      <div class="text-center">
        <h1 class="toolsHeading mt-2 mb-3">Tools</h1>
      </div>

      <!-- Table Card Wrapper -->
      <div class="card shadow-lg border-0">
        <div class="card-body p-0">

          <!-- Responsive Table -->
          <div class="table-responsive">
            <table class="table table-dark table-hover table-bordered border-danger mb-0 align-middle">
              <thead>
                <tr class="table-primary table-primary-headofthis text-center">
                  <th scope="col" class="w-25">Tools Name</th>
                  <th scope="col" class="w-50">Tools Work</th>
                  <th scope="col" class="w-25">Working Button</th>
                </tr>
              </thead>
              <tbody class="table-group-divider border-danger">
                <% for(sublisting of listing.sublisting) { %>
                  <tr class="table-info trbodyStyle">
                    <td class="fw-bold fs-6 py-3">
                      <%= sublisting.name %>
                    </td>
                    <td class="py-3">
                      <%= sublisting.work %>
                    </td>
                    <td class="py-2 text-center">
                      <a href="<%= sublisting.link %>" target="_blank" class="btn btn-success btn-sm">
                        Apply !
                      </a>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
  </section>
</main>
